@model MvcStart.Models.Board

@{
    ViewData["Title"] = "Edit";
}

<h1>글 수정하기</h1>

<h4>게시판</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="row g-3">
                <div class="col">
            <div class="form-group">
                @*<label asp-for="title" class="control-label"></label>*@
                <label>제목</label>
                <input asp-for="title" class="form-control"/>
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
                </div>
                <div class="col">
            <div class="form-group">
                @*<label asp-for="author" class="control-label"></label>*@
                <label>작성자</label>
                <input asp-for="author" class="form-control" aria-label="Disalbed input example" readonly/>
                <span asp-validation-for="author" class="text-danger"></span>
            </div>
                    </div>
            </div>
            @*<div class="form-group">
                <label asp-for="post_time" class="control-label"></label>
                <input asp-for="post_time" class="form-control" />
                <span asp-validation-for="post_time" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label>내용</label>
                <textarea asp-for="letter" class="form-control" rows="3"></textarea>
                <span asp-validation-for="letter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="저장" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">목록으로 돌아가기</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
